<div class="container">    
    <div class="auth">
        <div class="row">
            <div class="input__login">
                <input type="text" class="form-control" placeholder="Введите login"  value=""/>
            </div>
        </div>
        <div class="row">
            <div class="input__password">
                <input type="text" class="form-control" placeholder="Введите пароль" value=""/>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-info auth__button-auth">Login</button>
        </div>
        <div class="row">
            <div class="error-message"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/auth.js"></script>
